<div class="row">
    <div class="col">
        <h2>Welcome to Jaya Raghavendra Aritaku Bhojanam</h2>
        <p class="text-justify">I, Shanker Kulkarni S/o. Krishna belongs to Brahmin family and was born & brought up in Hyderabad. Catering
            is our professional business since my grandfather’s generation. I learnt to cook from my elders when I was
            10 years old. After a long experience in this work, I started off my own catering in 1998 by the name “MANA
            EVENTS” formerly SRIVATSA CATERERS, through which we supplied food to a minimum of 100 members to a maximum
            capacity of 10,000 members for various marriages. Our new branch is also been opened in “Vasanth nagar,
            Kukatpally.</p>
        <p class="text-justify">On occasion of PARAMJYOTHI CATERERS completing its 15 years successful journey we have decided to launch some
            special offers to the poor & needy.</p>
    </div>
    <div class="col-auto">
        <img src="../../../assets/images/jaya-raghavendra-swamy.jpg" alt="">
    </div>
</div>