<!-- <h2 class="mb-5 text-center">15 Days Daily Carrier Menu</h2>
<section class="wrapper">
    <div class="day">
        <div class="day-items">
            <ul>
                <li>Dosakaya pappu</li>
                <li>Majjiga Pulusu</li>
                <li>Gutti vankaya kura</li>
                <li>Goru chikkudukaya kobbari</li>
                <li>Tomato Pachadi</li>
            </ul>
        </div>
        <div class="day-number">
            Day - 1
        </div>
    </div>
    <div class="day">
        <div class="day-items">
            <ul>
                <li>Menthi kura tomato pappu</li>
                <li>Rasam</li>
                <li>Kakarakaya fry</li>
                <li>Dondakaya karam</li>
                <li>Vankaya pachadi</li>
            </ul>
        </div>
        <div class="day-number">
            Day - 2
        </div>
    </div>
    <div class="day">
        <div class="day-items">
            <ul>
                <li>Palakura pappu</li>
                <li>Aratikaya kura</li>
                <li>Beans Curry</li>
                <li>Dosavakaya</li>
                <li>Sambar</li>
            </ul>
        </div>
        <div class="day-number">
            Day - 3
        </div>
    </div>
    <div class="day">
        <div class="day-items">
            <ul>
                <li>Tomato pappu</li>
                <li>Majjiga pulusu</li>
                <li>Chama fry</li>
                <li>Aloo upma curry</li>
                <li>Gongura Roti pachadi</li>
            </ul>
        </div>
        <div class="day-number">
            Day - 4
        </div>
    </div>
    <div class="day">
        <div class="day-items">
            <ul>
                <li>Beerakaya pappu</li>
                <li>Bendakya karam</li>
                <li>Donda fry</li>
                <li>Sambar</li>
                <li>Kobbari pachadi</li>
            </ul>
        </div>
        <div class="day-number">
            Day - 5
        </div>
    </div>
    <div class="day">
        <div class="day-items">
            <ul>
                <li>Gongura pappu</li>
                <li>Cabbage Fry</li>
                <li>Vankaya karam petti koora</li>
                <li>Rasam</li>
                <li>Beerakaya pachadi</li>
            </ul>
        </div>
        <div class="day-number">
            Day - 6
        </div>
    </div>
    <div class="day">
        <div class="day-items">
            <ul>
                <li>Thotakura pappu</li>
                <li>Majjiga pulusu</li>
                <li>Aloo curry</li>
                <li>Chikkudukaya tomato curry</li>
                <li>Veg chettny</li>
            </ul>
        </div>
        <div class="day-number">
            Day - 7
        </div>
    </div>
    <div class="day">
        <div class="day-items">
            <ul>
                <li>Beans carrot kobbari kura</li>
                <li>Capsicum Karam Curry</li>
                <li>Tomato pappu</li>
                <li>Rasam</li>
                <li>Gobi Pickle</li>
            </ul>
        </div>
        <div class="day-number">
            Day - 8
        </div>
    </div>
    <div class="day">
        <div class="day-items">
            <ul>
                <li>Palak dal</li>
                <li>Tomato pickle</li>
                <li>Avial</li>
                <li>Sambar</li>
                <li>Vankaya Pakodi kura</li>
            </ul>
        </div>
        <div class="day-number">
            Day - 9
        </div>
    </div>
    <div class="day">
        <div class="day-items">
            <ul>
                <li>lemon dal</li>
                <li>Sambar</li>
                <li>Beetroot curry</li>
                <li>Bendi fry</li>
                <li>Dosakaya pickle</li>
            </ul>
        </div>
        <div class="day-number">
            Day - 10
        </div>
    </div>
    <div class="day">
        <div class="day-items">
            <ul>
                <li>Mango pappu</li>
                <li>Beerakaya Tamato Curry</li>
                <li>Aratikaya allam pachimirchi</li>
                <li>Rasam</li>
                <li>Dosakaya mukkala pachadi</li>
            </ul>
        </div>
        <div class="day-number">
            Day - 11
        </div>
    </div>
    <div class="day">
        <div class="day-items">
            <ul>
                <li>Thotakura Mentham kura pappu</li>
                <li>donda fry</li>
                <li>Aloo Capsicum Curry</li>
                <li>Dosakaya pickle</li>
                <li>Majjiga pulusu</li>
            </ul>
        </div>
        <div class="day-number">
            Day - 12
        </div>
    </div>
    <div class="day">
        <div class="day-items">
            <ul>
                <li>Dosakaya pappu</li>
                <li>Gobi fry</li>
                <li>Kakarakaya bellam kura</li>
                <li>Aloo Fry</li>
                <li>kachi tomato chutney</li>
            </ul>
        </div>
        <div class="day-number">
            Day - 13
        </div>
    </div>
    <div class="day">
        <div class="day-items">
            <ul>
                <li>Gongura pappu</li>
                <li>Cabbage fry</li>
                <li>Majjiga pulusu</li>
                <li>Mixed veg curry</li>
                <li>Mango pickle</li>
            </ul>
        </div>
        <div class="day-number">
            Day - 14
        </div>
    </div>
    <div class="day">
        <div class="day-items">
            <ul>
                <li>Tomato pappu</li>
                <li>Beans kobbari kura</li>
                <li>Rasam</li>
                <li>Vankaya allam mirchi kura</li>
                <li>Dosa avakaya pickle recipes</li>
            </ul>
        </div>
        <div class="day-number">
            Day - 15
        </div>
    </div>
</section> -->

<section class="dinner-menu">
    <div class="row">
        <div class="col-4">
            <h2>Night Dinner Menu</h2>
        </div>
        <div class="col-8"></div>
    </div>
</section>