section {
    &.wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .day {
            flex: 0 32%;
            padding: 13px;
            margin-bottom: 3%;
            background-color: #f05915;
            border-radius: 5px;
            color: #fff;
            height: 195px;
            position: relative;

            .day-number {
                font-size: 78px;
                text-transform: uppercase;
                position: absolute;
                bottom: -20px;
                left: -6px;
                line-height: 100px;
                letter-spacing: -5px;
                font-weight: 800;
                font-family: sans-serif;
                color: hsla(0, 0%, 100%, .22);
            }

            .day-items {
                text-align: left;
                display: inline-block;

                ul {
                    // padding-left: 10px;
                }

                li {
                    // list-style: none;
                }
            }
        }
    }
    &.dinner-menu{
        h2{
            font-size: 120px;
        }
        ul{
            margin-bottom: 0;
        }
        th{
            background: #da470f;
            color: white;
        }
        tr{
            &:nth-child(2n+2){
                td{
                    background-color: #dcffc3;
                    font-weight: 600;
                }
            }
        }
    }
}
